# coding: utf-8
<% provide(:title, 'Поиск пассажиров') %>
<% provide(:active_page, 'find_passengers') %>
<h1></h1>

<section>
	<div class="row">
		<div class="span8">

			<%= form_for(@liftup) do |f| %>

				<%= render 'shared/error_messages', object: f.object %>
			  
				<%= f.label 'Дата поездки:' %>
				<%  inline_liftup_time = f.label 'Время поездки:' %>
				<%= f.datetime_select :start_date, datetime_separator: inline_liftup_time %>	

				<%= f.label 'Свободных мест в машине:' %>
				<%= f.select(:free_seats,  options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]], 3)) %>

				<%= f.label 'Конечная остановка:' %>
				<%= f.radio_button(:final_stop, "Теплый Стан", :checked => true) %>
				<%= f.label(:age_adult, "Теплый Стан") %>
				<%= f.radio_button(:final_stop, "Юго-западная") %>
				<%= f.label(:age_child, "Юго-Западная") %>

				<%= f.label 'Дополнительные комментарии:' %>
				<%= f.text_field :comment , placeholder: "Ваш комментарий..."%>

				<%= f.submit "Подтвердить", class: "btn btn-large btn-primary" %>

			<% end %>

		</div>
	</div>

</section>			


